.board {
  display: inline-grid;
  position: relative;
  background-color: #161924;
  grid-gap: 3px;

  &_debbuging {
    background-color: #1D6F19;
  }
}

.monkey {
  font-size: 30px;
  cursor: pointer;
}