.cell {
  cursor: pointer;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: #c6c6c6;
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-right: 4px solid gray;
  border-bottom: 4px solid gray;

  &_clicked {
    background-color: #d6d3d3;
    cursor: default;
    border: none;
  }
}
