.cell {
  cursor: pointer;
  display: grid;
  align-items: center;
  justify-items: center;
  background: rgb(105, 135, 232);
  background: linear-gradient(
    180deg,
    rgba(105, 135, 232, 1) 0%,
    rgba(14, 78, 175, 1) 100%
  );
  border-radius: 5px;
  color: white;

  &_opened {
    background: rgb(13, 18, 28);
    background: linear-gradient(
      180deg,
      rgba(13, 18, 28, 1) 0%,
      rgba(28, 28, 39, 1) 100%
    );
    cursor: default;
  }
}
